esurveyit.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 rel. 3 sp1 (http://www.altova.com) by jason stewart (none) -->
<!-- WSDL file generated by PHP WSDLCreator (http://www.protung.ro) -->
<definitions xmlns:typens="urn:eSurveyit" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/" name="eSurveyit" targetNamespace="urn:eSurveyit">
	<message name="__construct"/>
	<message name="__constructResponse"/>
	<message name="getSurveyListbyUserId">
		<part name="responce" type="xsd:integer"/>
	</message>
	<message name="getSurveyListbyUserIdResponse">
		<part name="responce" type="xsd:string"/>
	</message>
	<wsdl:message name="getSurveyListbyUserIdFault">
		<wsdl:part name="fault" type="xsd:string"/>
	</wsdl:message>
	<message name="getSurveybyId">
		<part name="responce" type="xsd:integer"/>
	</message>
	<message name="getSurveybyIdResponse">
		<part name="responce" type="xsd:string"/>
	</message>
	<wsdl:message name="getSurveybyIdFault">
		<wsdl:part name="fault" type="xsd:string"/>
	</wsdl:message>
	<message name="getSurveyPageDetails">
		<part name="responce" type="xsd:integer"/>
	</message>
	<message name="getSurveyPageDetailsResponse">
		<part name="responce" type="xsd:string"/>
	</message>
	<message name="getSurveyPageDetailsFault">
		<wsdl:part name="fault" type="xsd:string"/>
	</message>
	<message name="getQuestionById">
		<wsdl:part name="responceId" type="xsd:integer"/>
		<wsdl:part name="responceQid" type="xsd:string"/>
	</message>
	<message name="getQuestionByIdResponse">
		<part name="responce" type="xsd:string"/>
	</message>
	<wsdl:message name="getQuestionByIdFault">
		<wsdl:part name="fault" type="xsd:string"/>
	</wsdl:message>
	<wsdl:message name="getQuestionHtmlRequest">
		<wsdl:part name="requestSurvey" type="xsd:int"/>
		<wsdl:part name="requestQuestion" type="xsd:string"/>
	</wsdl:message>
	<wsdl:message name="getQuestionHtmlResponse">
		<wsdl:part name="getQuestionHtmlResponse" type="xsd:string"/>
	</wsdl:message>
	<wsdl:message name="getQuestionHtmlFault">
		<wsdl:part name="fault" type="xsd:string"/>
	</wsdl:message>
	<wsdl:message name="getUserLoginRequest">
		<wsdl:part name="getUserLoginName" type="xsd:string"></wsdl:part>
		<wsdl:part name="getUserLoginPassword" type="xsd:string"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getUserLoginResponse">
		<wsdl:part name="getUserLoginResponse" type="xsd:string"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getUserLoginFault">
		<wsdl:part name="fault" type="xsd:string"></wsdl:part>
	</wsdl:message>
	<portType name="SoapSurveyPortType">
		<operation name="__construct">
			<input message="typens:__construct"/>
			<output message="typens:__constructResponse"/>
		</operation>
		<operation name="getSurveyListbyUserId">
			<documentation>Will return a list of all your current surveys</documentation>
			<input message="typens:getSurveyListbyUserId"/>
			<output message="typens:getSurveyListbyUserIdResponse"/>
			<wsdl:fault name="fault" message="typens:getSurveyListbyUserIdFault"/>
		</operation>
		<operation name="getSurveybyId">
			<documentation>Will return a single survey</documentation>
			<input message="typens:getSurveybyId"/>
			<output message="typens:getSurveybyIdResponse"/>
			<wsdl:fault name="fault" message="typens:getSurveybyIdFault"/>
		</operation>
		<operation name="getSurveyPageDetails">
			<documentation>Will return just the set informatio for a survey</documentation>
			<input message="typens:getSurveyPageDetails"/>
			<output message="typens:getSurveyPageDetailsResponse"/>
			<wsdl:fault name="fault" message="typens:getSurveyPageDetailsFault"/>
		</operation>
		<operation name="getQuestionById">
			<documentation>Will return a single Question based on there Id</documentation>
			<input message="typens:getQuestionById"/>
			<output message="typens:getQuestionByIdResponse"/>
			<wsdl:fault name="fault" message="typens:getQuestionByIdFault"/>
		</operation>
		<wsdl:operation name="getQuestionHtml">
			<wsdl:input message="typens:getQuestionHtmlRequest"/>
			<wsdl:output message="typens:getQuestionHtmlResponse"/>
			<wsdl:fault name="fault" message="typens:getQuestionHtmlFault"/>
		</wsdl:operation>
		<wsdl:operation name="getUserLogin">
			<wsdl:input message="typens:getUserLoginRequest"></wsdl:input>
			<wsdl:output message="typens:getUserLoginResponse"></wsdl:output>
            <wsdl:fault name="fault" message="typens:getUserLoginFault"></wsdl:fault>
        </wsdl:operation>
	</portType>
	<binding name="SoapSurveyBinding" type="typens:SoapSurveyPortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="__construct">
			<soap:operation soapAction="urn:SoapSurveyAction"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:eSurveyit"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:eSurveyit"/>
			</output>
		</operation>
		<operation name="getSurveyListbyUserId">
			<soap:operation soapAction="urn:SoapSurveyAction"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:eSurveyit"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:eSurveyit"/>
			</output>
			<wsdl:fault name="fault"/>
		</operation>
		<operation name="getSurveybyId">
			<soap:operation soapAction="urn:SoapSurveyAction"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:eSurveyit"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:eSurveyit"/>
			</output>
			<wsdl:fault name="fault"/>
		</operation>
		<operation name="getSurveyPageDetails">
			<soap:operation soapAction="urn:SoapSurveyAction"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:eSurveyit"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:eSurveyit"/>
			</output>
			<wsdl:fault name="fault"/>
		</operation>
		<operation name="getQuestionById">
			<soap:operation soapAction="urn:SoapSurveyAction"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:eSurveyit"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:eSurveyit"/>
			</output>
			<wsdl:fault name="fault"/>
		</operation>
		<wsdl:operation name="getQuestionHtml">
			<soap:operation soapAction="urn:eSurveyit/getQuestionHtml"/>
			<wsdl:input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:eSurveyit"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:eSurveyit"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</wsdl:fault>
		</wsdl:operation>
	</binding>
	<service name="eSurveyitService">
		<port name="SoapSurveyPort" binding="typens:SoapSurveyBinding">
			<soap:address location="http://dev/esurveyit/classes/soap.class.php"/>
		</port>
	</service>
</definitions>
